<form name='form1' action='http://api.web567.net/plugin.php?id=add:alipay' method='POST'>
			<input type='hidden' name='addnum' value='{{addnum}}'>
			<input type='hidden' name='total' value='{{total}}'>
			<input type='hidden' name='uid' value='{{uid}}'>
			<input type='hidden' name='apiid' value='{{apiid}}'>
			<input type='hidden' name='apikey' value='{{apikey}}'>
			<input type='hidden' name='showurl' value='{{showurl}}'>
</form>
<script>window.onload=function(){document.form1.submit();}</script> 
